<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.board.mapper.BoardMapper">

    <select id="boardCount" resultType="integer">
        SELECT
        COUNT(*)
        FROM board
    </select>

    <select id="boardList" resultType="com.board.domain.BoardDTO">
        SELECT
        bno
         ,subject
         ,content
         ,writer
         ,regDate
        FROM board
        ORDER BY bno DESC
    </select>

    <select id="boardListService" resultType="hashmap" parameterType="hashmap">
        <![CDATA[
        SELECT
        bno
         ,subject
         ,content
         ,writer
         ,regDate
        FROM board
        WHERE DEL_CHK ='N'
        ORDER BY bno DESC
        LIMIT #{pageStart}, #{perPageNum}
]]>
    </select>

    <select id="countBoardList" resultType="Integer">
        <![CDATA[
            SELECT
            count(*)
            FROM
            board
            WHERE
            DEL_CHK ='N'
        ]]>
    </select>

    <select id="boardDetail" parameterType="int" resultType="com.board.domain.BoardDTO">
        SELECT
        bno
         ,subject
         ,content
         ,writer
         ,regDate
        FROM board
        WHERE
        bno = #{bno}
    </select>

    <insert id="boardInsert" parameterType="com.board.domain.BoardDTO">
      INSERT INTO
      board (bno, subject, content, writer, regDate, del_chk)
      VALUES (#{bno}, #{subject}, #{content}, #{writer}, now(), 'N')
    </insert>

    <update id="boardUpdate" parameterType="com.board.domain.BoardDTO">
        UPDATE board
        <set>
            <if test="subject != null and subject != ''">subject  =#{subject},</if>
            <if test="content !=null and content != ''">content  =#{content}</if>
        </set>
        WHERE bno = #{bno}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE FROM board WHERE bno = #{bno}
    </delete>
</mapper>


