<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.board.mapper.BoardMapper">

    <!-- 게시판 수 -->
    <select id="boardCount" resultType="integer">
        SELECT
           COUNT(*)
        FROM board
    </select>

    <!-- 게시판 목록 -->
    <select id="boardList" resultType="com.board.domain.BoardDTO">
        SELECT
           bno
            ,subject
            ,content
            ,writer
            ,regDate
            ,view_cnt
        FROM board
        ORDER BY bno DESC
    </select>

    <!-- 게시판 목록 -->
    <select id="boardListService" resultType="BoardDTO" parameterType="com.board.domain.BoardDTO">
        <![CDATA[
        SELECT
           bno
            ,subject
            ,content
            ,writer
            ,regDate
            ,view_cnt
        FROM board
        WHERE DEL_CHK ='N'
        ORDER BY bno DESC, regDate DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <!-- 게시판 페이징 -->
    <select id="countBoardList" resultType="Integer">
        <![CDATA[
            SELECT
               count(*)
            FROM board
            WHERE DEL_CHK ='N'
        ]]>
    </select>

    <!-- 게시판 상세 -->
    <select id="boardDetail" parameterType="int" resultType="com.board.domain.BoardDTO">
        SELECT
            bno
              , subject
              , content
              , writer
              , regDate
              , del_chk
              , view_cnt
              , file_name
        FROM board
        WHERE bno = #{bno}
    </select>

    <!-- 게시판 작성 -->
    <insert id="boardInsert" parameterType="com.board.domain.BoardDTO">
        INSERT INTO board
            (bno
              , subject
              , content
              , writer
              , regDate
              , del_chk
              , file_name
              , view_cnt)
        VALUES
            (#{bno}
               , #{subject}
               , #{content}
               , #{writer}
               , now()
               , 'N'
               , #{fileName}
               , 0)
    </insert>

    <!-- 게시판 수정 -->
    <update id="boardUpdate" parameterType="com.board.domain.BoardDTO">
        UPDATE board
        <set>
            subject  =#{subject},
            content  =#{content}
        </set>
        WHERE bno = #{bno}
    </update>

    <!-- 게시판 조회수 -->
    <resultMap id="viewCnt" type="com.board.domain.BoardDTO">
        <result property="viewCnt" column="viewCnt"/>
    </resultMap>

    <!-- 게시판 조회수 -->
    <update id="viewCntUpdate" parameterType="int" >
        UPDATE board SET
        view_cnt = view_cnt + 1
        WHERE bno = #{bno}
    </update>

    <!-- 게시판 삭제 -->
    <delete id="boardDelete" parameterType="int">
        DELETE FROM board WHERE bno = #{bno}
    </delete>
</mapper>


