<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.board.mapper.CommentMapper">
    <select id="commentCount" resultType="int">
        SELECT
          COUNT(*)
        FROM comment
    </select>

    <select id="commentList" parameterType="int" resultType="com.board.domain.CommentVO">

        SELECT
          rid
           ,bno
           ,content
           ,regid
           ,now()
        FROM comment
        WHERE bno = #{bno}

    </select>
    
    <insert id="commentInsert" parameterType="com.board.domain.CommentVO">
        INSERT INTO
        comment (rid, bno, content, regid, regdt)
        VALUES (#{rid}, #{bno}, #{content}, #{regid}, now())
    </insert>

    <update id="commentUpdate" parameterType="com.board.domain.CommentVO">
        UPDATE comment
           SET
           CONTENT = #{content}
        WHERE rid = #{rid}
    </update>

    <delete id="commentDeleteByRid" parameterType="int">
        DELETE FROM comment WHERE rid = #{rid}
    </delete>

    <delete id="commentDeleteByBno" parameterType="int">
        DELETE FROM comment WHERE bno = #{bno}
    </delete>
</mapper>