<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.board.domain.ReplyVO">
    <select id="getReplyList" resultType="com.board.domain.ReplyVO">
        SELECT
          rid
           ,bid
           ,content
           ,regid
           ,regdt
           ,editdt
        FROM
           comment
        WHERE
           bid = #{bid}
        ORDER BY regdt desc
    </select>

    <insert id="saveReply" parameterType="com.board.domain.ReplyVO">
        INSERT INTO comment(bid, content, regid, regdt, editdt)
        VALUES (
           #{bid}
           , #{content}
           , #{regid}
           , now()
           , now()
        )
    </insert>
    
    <update id="updateReply" parameterType="com.board.domain.ReplyVO">
      UPDATE comment SET
         content = #{content}
        ,editdt = now()
      WHERE
        rid = #{rid}
    </update>

    <delete id="deleteReply" parameterType="int">
        DELETE FROM comment
        WHERE
           rid = #{rid}
    </delete>
</mapper>