<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.board.mapper.MemberMapper" >
    <!-- 회원가입 -->
    <insert id="register" parameterType="com.board.domain.MemberVO">
        INSERT INTO member
            (userid
               , userpass
               , username)
        VALUES
            (#{userid}
               , #{userpass}
               , #{username})
    </insert>

    <!-- 아이디 중복검사 -->
    <select id="idcheck" resultType="com.board.domain.MemberVO">
        SELECT
             userid
        FROM  member
        WHERE userid = #{userid}
    </select>

    <!-- 로그인  -->
    <select id="login" resultType="com.board.domain.MemberVO">
        SELECT
            userid
              , userpass
              , username
        FROM member
        WHERE userid = #{userid}
        AND userpass = #{userpass}
    </select>

    <!-- 회원정보 수정 -->
    <update id="modify">
        UPDATE member SET
            username = #{username}
            ,userpass = #{userpass}
        WHERE userid = #{userid}
    </update>
    
    <delete id="withdraw">
        DELETE FROM member
        WHERE userid = #{userid}
              userpass = #{userpass}
    </delete>
</mapper>


